:root {
	--light-blue: #0099e6;
	--medium-blue: #006699;
	--dark-blue: #004466;
	--dark-text: #002233;
	--light-text: #eee;
	--highlight: #ff7cb3;
	--red: #bd0039;
}

html {
	background-color: var(--light-blue);
	color: var(--dark-text);
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width:100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-family: 'Courier New', Courier, monospace;
}

.results-table th {
	background-color: var(--dark-blue);
	color: var(--light-text);
	font-size: 12px;
	font-weight: normal;
}

.results-table td, th {
	background-color: var(--light-text);
	border: 1px solid var(--medium-blue);
	color: var(--dark-blue);	
	font-weight: bold;
	height: 30px;
	width: 30px;
	text-transform: uppercase;
}

.results-table td {
	text-align:center;
}

#form {
	position:fixed;
	height:100%;
	padding-left:10px;
	max-width:600px;
}

#results-container {
	margin-left:58%;
}

.results-table td.active-letter {
	background-color:var(--highlight);
}

.no-matches {
	color: var(--red);
}

textarea:disabled{
	background-color:#ddd;
}

input:invalid {
  	border: 1px solid var(--red);
}

input:valid {
  	border: 1px solid var(--dark-text);
}

@media (max-width: 768px) {
	
	#form {
		position:static;
	}
	
	#results-container {
		margin-left:10px;
	}
	
}

@media print {
	
	div.columns.six {
		width:100%;
	}
	
	#form {
		position:static;
	}
	
	#results-container {
		margin-left:10px;
	}
	
	#reset, #print {
		display:none !important;
	}
	
}
